body {
    background-image: url(../images/背景.jpg);
    background-size:cover;
}

.head {
    width: 500px;
    height: 200px;
    float: left;
    margin-left: 65px;
}

h1 {
    width: 470px;
    margin-top: 20px;
    font-size: 35px;
}

h2 {
    width: 150px;
    font-size: 25px;
    font-weight:normal
}

.image {
    text-align: right;
    margin: 40px;
    margin-right: 90px;
    margin-bottom: 0;
}

img {
	width: 280px;
	height: 190px;
}

button{
    width: 90px;
    height: 35px;
    border: 1px solid white;
    background-color: white;
    margin: 10px 0 5px 40px;
    font-size: 15px;
}

#button-1 {
    margin-top: 0;
}

.p1 {
    margin: 0 40px 0 45px;
    color: black;
    font-size: 15px;
    text-indent: 2em;
}

.p2 {
    margin: 0 22px 0 45px;
    color: black;
    font-size: 15px;
    text-indent: 2em;
}

.text {
    /* float: left; */
    width: 1000px;
}

.text ul {
    margin-left: 14px;
}

.text li {
    font-size: 15px;
    font-style: italic;
    text-indent: 2em;
}

.click-more {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    clear: both;
}

a {
    font-size: 15px;
}

#a2{
    width: 0px;
	height: 0px;
	/* background-color: #FF0000; */
    margin-left: 35px;
	border:13px solid black;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}


.back {
    margin-right: 40px;
    text-align:right;
    clear: both;
}

.btn-back{
    width: 150px;
    height: 30px;
    border: 1px solid rgb(96, 93, 93);
    background-color: white;
    margin: 5px 8px 8px 0;
    border-radius: 3px;
}
