body{
    /* background-color: blanchedalmond; */
    font-size: medium;
    background-image: url(../images/曾侯乙铜鉴缶背景.png);
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size: cover;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0px;
    padding-bottom: 10px;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 250%;
}
h2{
    margin: 10px 20px 20px 80px;
}

p{
    height: 250px;
    width: 1000px;
}

.indent{
    text-indent: 2em;
    /* width: 1300px; */
    margin: 0 22px 0 22px;
    margin-bottom: 20px;
}

/* .end{
    margin-bottom:-10px;
    margin-left: 550%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #f2ea9e;
    border: 2px solid #008cba;
    border-radius: 8px;
    box-shadow: 0 9px #999;
}
.end:hover {background-color: #dcdcdc}
   
.end:active {
    background-color: #f2ef8b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } */

.back {
    text-align:right;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: right;   
    text-decoration: none;
    outline: none;
    color:black;
    background-color: #f2ea9e;
    border: 2px solid #008cba;
    border-radius: 8px;
    box-shadow: 0 9px #999;
  }
   
  .button:hover {background-color: #dcdcdc}
   
  .button:active {
    background-color: #f2ef8b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
a {
    font-size: 15px;
}